
<div class="page page-dashboard" ng-controller="ParkingSpaceDetailsCtrl">

    <div class="page-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel mb20 panel-primary panel-hovered">
                    <div class="panel-heading">Parking spaces</div>
                    <div class="panel-body">

                        <div class="panel mb20 panel-lined panel-hovered">
                            <div class="panel-heading">Basic Details</div>
                            <div class="panel-body">
                                <label>Address</label> sdsdfsdfsdfsf
                                <br />
                                <label>Vendor</label> sdfsdfs
                            </div>
                        </div>

                        <div class="row" style="height: 400px !important;">
                            <div class="col-sm-12">
                                <div class="map-canvas" id="map" data-tap-disabled="true" style="height: 400px !important;"></div>
                            </div>
                        </div>
                        <br />
                        <div class="panel mb20 panel-lined panel-hovered">
                            <div class="panel-heading">Booking Schedule</div>
                            <div class="panel-body">
                                <div id="parkingBookingSchedule"></div>
                            </div>
                        </div>

                    </div> <!-- Panel body-->
                </div>
            </div>
        </div>
    </div>
</div>